*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.continer{
    max-width: 1400px;
    padding: 0px 32px;
    margin: auto;
}
nav{
    max-width: 100%;
    height: 50px;
    background-color: rgb(133, 130, 130);
}
.nava{
    max-width: 100%;
    padding-top: 15px;
    height: 40px; 
    color: white;
   
}
section{
    max-width: 100%;
    height: 3000px;
    background-color: rgb(63, 61, 61);
}
.bir{
    max-width: 100%;
    height: 700px
}
.bira{
    max-width: 100%;
    height: 60px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.birb{
    max-width: 100%;
    height: 700px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 15px;
}
.birb div {
background-color: white;
border-radius: 10px;
text-align: center;
}
img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}